.App {
  padding: 10px 0;
}

.App .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.App .row [class*="col-"], .App .row .col {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  flex-basis: 100%;
  flex: 1;
}

.App .row .col-6 {
  width: 60%;
}

.App .row .col-4 {
  width: 40%;
}

.App .card {
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 1rem 3r, rgba(0, 0, 0, .175);
}

.App .card .card-header {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .card .card-header h3 {
  margin: 0;
}

.App .card .card-body {
  padding: 10px 0;
}